/* @theme XDU */
/* @auto-scaling fittingHeader,math */
@charset "UTF-8";
@import 'default';
@import 'https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.0/css/all.min.css';
@import 'https://fonts.bunny.net/css?family=Lato:400,900|Roboto+Mono:400,700&display=swap';
/* auto-scaling : 自适应缩放 */
/* @auto-scaling true; */
@import url(https://fonts.bunny.net/css?family=charm:700);


:root {
    --font-family-main: 'Microsoft Yahei', 'Latin Modern Math', 'Adobe Garamond', '方正宋刻本秀楷简体', '华文中宋', '霞鹜文楷 屏幕阅读版';
    --font-family-title: 'Optima LT Medium', '方正苏新诗柳楷简体';
    --font-family-footer: 'Microsoft Yahei', 'Latin Modern Math', 'Adobe Garamond', '方正宋刻本秀楷简体', '华文中宋', '霞鹜文楷 屏幕阅读版';
    --font-family-code: 'Roboto Mono', monospace;
    --font-size-1: 55px;
    --foot-size-subtitle: 42px;
    --font-size-2-3: 38px;
    --font-size-4-5: 30px;
    /*文本字号*/
    --font-size-main: 22px;
    --font-size-footer: 22px;
    --font-size-page: 12px;
    --font-size-code: 10px;
    --color-title: rgb(0, 0, 0);
    --color-footer: #8c8c8c;
    --color-navbar-font: rgb(108, 95, 91);
    --color-few: #53a7a0;
    --color-quote: rgba(89, 193, 249, 0.591);
    --color-main: #211112;
    --color-coverbg: #a7535a;
    --color-much: #34afec;
    --color-trans: #b9757b;
    --color-navbar-bg: #edddde;
    --color-code-bg: #c5c5c5;
}

section {
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    color: var(--color-main);
    text-align: justify;
    justify-content: flex-start;
    background: whitesmoke;
}

/* 右下角页标 */
section::after {
    font-family: "FontAwesome";
    font-size: var(--font-size-page);
    margin-right: -10px;
    margin-bottom: -14px;
    content: attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total);
    letter-spacing: 3px;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid var(--color-footer);
    color: var(--color-footer);
}

h1 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-1);
    color: var(--color-title);
}

/* 二级标题 */
h2 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-2-3);
    background-color: var(--color-much);
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

/* 三级标题 */
h3 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-2-3);
    color: var(--color-much);
    margin-bottom: 10px;
}

h4,
h5 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-4-5);
    color: var(--color-much);
}

/* 默认的头部css样式，例如左上角的logo */
header {
    top: 12px;
    background-color: transparent;
}


ol {
    line-height: 1.4rem;
    padding-left: 35px;
}

ul {
    line-height: 1.4rem;
    padding-left: 35px;
}

/* 无序列表的三个样式 */
ul.a {
    list-style-type: disc;
}

ul.b {
    list-style-type: circle;
}

ul.c {
    list-style-type: square;
}

ul li::marker {
    color: var(--color-much);
}

/* > 引用 */
blockquote {
    border-left: 8px solid var(--color-much);
    padding: 10px 25px;
    border-radius: 10px;
    background-color: var(--color-quote);
    font-size: 0.9rem;
    font-family: var(--font-family-main);
}

blockquote strong {
    font-family: var(--font-family-main);
}

blockquote>p::before {
    color: var(--color-much);
    padding-right: 2%;
    content: "\f10d";
    font-family: "FontAwesome";
}

/* 链接 */
a {
    font-size: 0.9rem;
    padding: 0 .2rem;
    color: var(--color-main);
    font-family: var(--font-family-main);
}

a:hover {
    color: var(--color-much);
    text-decoration: underline;
}

a::after {
    font-size: 0.6em;
    padding-left: 0.5%;
    content: "\f148";
    /* f148 f0c1 f08e f14c f0c6 */
    font-family: "FontAwesome";
    color: var(--color-much);
}

/* 页脚 */
footer {
    color: var(--color-footer);
    bottom: 1%;
    left: 2%;
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: space-between;
}

footer>em {
    font-family: var(--font-family-footer);
    font-size: var(--font-size-footer);
    letter-spacing: 1px;
    font-style: normal;
}

footer::after {
    content: "";
}


.MathJax {
    font-size: 0.95rem;
    font-family: 'Adobe Garamond';
}

/* 代码 */
pre {
    text-align: left;
    /* 边框 */
    border: 2px solid var(--color-few);
    /* 圆角 */
    border-radius: 10px;
    margin: 1.5em 0 0;
    overflow: auto;
    font-size: 0.8rem;
    white-space: pre-wrap !important;

    code {
        font-size: 0rem;
        box-sizing: border-box;
        margin: 0;
        min-width: 100%;
        padding: 1.5em;
        word-break: break-word;
    }
}


*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #f6f8fa;
}

*::-webkit-scrollbar-track:hover {
    background-color: var(--color-few);
}

*::-webkit-scrollbar-track:active {
    background-color: var(--color-few);
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--color-few);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-few);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--color-few);
}

/* 段首缩进2字符 */
SJ {
    text-indent: 2em;
    padding: 50px;
    text-align: left;
}

/* `code` */
code {
    display: inline-block;
    font-family: var(--font-family-code);
    font-size: .8em;
    letter-spacing: 0;
    margin: -0.1em 0.15em;
    padding: 0.1em 0.2em;
    vertical-align: baseline;
    text-indent: 0em;
}

/* **strong** */
strong {
    font-size: 1.03rem;
    font-weight: bolder;
    color: var(--color-much);
}

em {
    font-size: 0.9rem;
    font-style: normal;
}

/* 各种字号 */
P28 {
    font-size: 28px;
}

P20 {
    font-size: 20px;
}


/* img */
img {
    max-width: 100%;
    border-radius: 8px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
}

img[alt*='#l'] {
    float: left;
}

img[alt*='#r'] {
    float: right;
}

img[alt*='#c'] {
    display: block;
    margin: auto;
}

/* ------------------------------------------- */
/* 首页 abcd */
section.cover_a {
    width: 100%;
    text-align: center;
    justify-content: center;
}

section.cover_a THEME {
    /* 默认标题字体大小 */
    font-size: 50px;
    /* 标题字体加粗 */
    font-weight: bold;
    /* 标题居中对齐 */
    text-align: center;
    /* 标题颜色 */
    color: #333;
    /* 标题大写 */
    /* text-transform: uppercase; */
    /* 是否换行 */
    white-space: nowrap;
}

section.cover_a NAME {
    font-size: 24px;
    padding-left: 700px;
    text-align: end;
    font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
}

section.cover_a DATE {
    font-size: 24px;
    padding-left: 690px;
    text-align: end;
    font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
}

section.cover_a strong {
    color: var(--color-main);
}

section.cover_a a::after {
    content: "";
}

/* ------------------- */


section.mulu {
    width: 100%;
    /* 页面布局 */
    justify-content: center;
    /* background: linear-gradient(to right, white 6%, var(--color-coverbg) 6% 30%, white 30%); */
}

section.mulu ul,
section.mulu ol {
    list-style-type: none;
    display: table;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0%;
    position: relative;
    /* 行宽 */
    line-height: 200%;
}

section.mulu ul li {
    counter-increment: toc_b;
}

section.mulu ul li::before {
    content: counter(toc_b);
    margin: 0px 2px 0px 0px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-title);
    background-color: var(--color-much);
    border-radius: 50%;
    color: white;
}

section.mulu ul li:hover::before {
    -moz-transition: all 0.5s ease-out;
    transition: all 0.3s ease-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

section.mulu header {
    height: 100%;
    width: 150%;
    font-family: 'Fira Code';
    font-weight: bolder;
    font-size: 400%;
    left: 30px;
    top: -30px;
    text-align: left;
    line-height: 162px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.75px var(--color-navbar-font);
}

/* section.mulu img {
    background-color: rgba(255, 255, 255, 0);
    background-blend-mode: lighten;
    padding-top: 30px;
    width: 70%;
    filter: brightness(30%) contrast(70%) grayscale(100%);
} */


section.fglass ul {
    padding: 20px 20px 20px 60px;
    margin-left: -25px;
    border-radius: 0px 0px 20px 20px;
    border-top: 8px solid var(--color-navbar-font);
    background-color: white;
    box-shadow: 1px 1px 12px rgb(215, 224, 235);
}


section.cols2_ol_sq h2,
section.cols2_ol_sq h3 {
    margin-left: -2%;
}

section.cols2_ol_sq p {
    padding-bottom: 1%;
    margin-left: -1.5%;
}

section.cols2_ol_sq ol,
section.cols2_ol_sq ul {
    left: 1%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.7em;
    list-style-type: none;
    width: 98%;
    column-gap: 3em;
}

section.cols2_ol_sq ol li,
section.cols2_ol_sq ul li {
    counter-increment: cols2_ol_sq;
}

section.cols2_ol_sq ol li::before,
section.cols2_ol_sq ul li::before {
    content: counter(cols2_ol_sq);
    margin: 0px 20px 0px 0px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: var(--font-family-title);
    background-color: var(--color-much);
    /* border-radius: 50%; */
    color: white;
    margin-left: -8%;
}

section.cols2_ol_sq ol li:hover::before,
section.cols2_ol_sq ul li:hover::before {
    -moz-transition: all 0.5s ease-out;
    transition: all 0.7s ease-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

section.cols2_ol_ci h2,
section.cols2_ol_ci h3 {
    margin-left: -2%;
}

section.cols2_ol_ci p {
    padding-bottom: 1%;
    margin-left: -1.5%;
}

section.cols2_ol_ci ol,
section.cols2_ol_ci ul {
    left: 1%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.7em;
    list-style-type: none;
    width: 98%;
    column-gap: 3em;
}

section.cols2_ol_ci ol li,
section.cols2_ol_ci ul li {
    counter-increment: cols2_ol_ci;
}

section.cols2_ol_ci ol li::before,
section.cols2_ol_ci ul li::before {
    content: counter(cols2_ol_ci);
    margin: 0px 20px 0px 0px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: var(--font-family-title);
    background-color: var(--color-much);
    border-radius: 50%;
    color: white;
    margin-left: -8%;
}

section.cols2_ol_ci ol li:hover::before,
section.cols2_ol_ci ul li:hover::before {
    -moz-transition: all 0.5s ease-out;
    transition: all 0.7s ease-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


section.cols2_ul_sq h2,
section.cols2_ul_sq h3 {
    margin-left: -2%;
}

section.cols2_ul_sq p {
    padding-bottom: 1%;
    margin-left: -1.5%;
}

section.cols2_ul_sq ul {
    left: 1%;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.7em;
    list-style-type: none;
    column-gap: 3em;
}

section.cols2_ul_sq ul li {
    display: block;
    position: relative;
}

section.cols2_ul_sq ul li:before {
    content: "";
    display: inline-flex;
    position: absolute;
    top: 1.2em;
    left: -30px;
    margin-top: -0.9em;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-title);
    background-color: var(--color-much);
    height: 10px;
    width: 10px;
}


section.cols2_ul_ci h2,
section.cols2_ul_ci h3 {
    margin-left: -2%;
}

section.cols2_ul_ci p {
    padding-bottom: 1%;
    margin-left: -1.5%;
}

section.cols2_ul_ci ul {
    left: 1%;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.7em;
    list-style-type: none;
    column-gap: 3em;
}

section.cols2_ul_ci ul li {
    display: block;
    position: relative;
}

section.cols2_ul_ci ul li:before {
    content: "";
    display: inline-flex;
    position: absolute;
    top: 1.2em;
    left: -30px;
    margin-top: -0.9em;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-title);
    background-color: var(--color-much);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}


section.cols-2 {
    overflow: visible;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "slideheading slideheading"
        "leftpanel    rightpanel";
}

section.cols-2 h2,
section.cols-2 h3 {
    grid-area: slideheading;
    font-size: var(--font-size-2-3);
}

section.cols-2 .ldiv {
    grid-area: leftpanel;
    margin-top: -5%;
}

section.cols-2 .rdiv {
    grid-area: rightpanel;
    margin-top: -5%;
}

section.cols-2 .limg {
    grid-area: leftpanel;
    margin-top: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-2 .rimg {
    grid-area: rightpanel;
    margin-top: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-3 {
    overflow: visible;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "slideheading slideheading slideheading"
        "leftpanel    middlepanel  rightpanel";
}

section.cols-3 h2,
section.cols-3 h3 {
    grid-area: slideheading;
    font-size: var(--font-size-2-3);
}

section.cols-3 .ldiv {
    grid-area: leftpanel;
    margin-top: -5%;
}

section.cols-3 .mdiv {
    grid-area: middlepanel;
    margin-top: -5%;
}

section.cols-3 .rdiv {
    grid-area: rightpanel;
    margin-top: -5%;
}

section.cols-3 .limg {
    grid-area: leftpanel;
    margin-top: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-3 .mimg {
    grid-area: middlepanel;
    margin-top: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-3 .rimg {
    grid-area: rightpanel;
    margin-top: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


section.cols-2-73 {
    overflow: visible;
    display: grid;
    gap: 1rem;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "slideheading slideheading"
        "leftpanel    rightpanel";
}

section.cols-2-73 h2,
section.cols-2-73 h3 {
    grid-area: slideheading;
    font-size: var(--font-size-2-3);
}

section.cols-2-73 .ldiv {
    grid-area: leftpanel;
    margin-top: -2%;
}

section.cols-2-73 .rdiv {
    grid-area: rightpanel;
    margin-top: -2%;
}

section.cols-2-73 .limg {
    grid-area: leftpanel;
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-2-73 .rimg {
    grid-area: rightpanel;
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-2-64 {
    overflow: visible;
    display: grid;
    gap: 1rem;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "slideheading slideheading"
        "leftpanel    rightpanel";
}

section.cols-2-64 h2,
section.cols-2-64 h3 {
    grid-area: slideheading;
    font-size: var(--font-size-2-3);
}

section.cols-2-64 .ldiv {
    grid-area: leftpanel;
    margin-top: -2%;

}

section.cols-2-64 .rdiv {
    grid-area: rightpanel;
    margin-top: -2%;
}

section.cols-2-64 .limg {
    grid-area: leftpanel;
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-2-64 .rimg {
    grid-area: rightpanel;
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-2-37 {
    overflow: visible;
    display: grid;
    gap: 1rem;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "slideheading slideheading"
        "leftpanel    rightpanel";
}

section.cols-2-37 h2,
section.cols-2-37 h3 {
    grid-area: slideheading;
    font-size: var(--font-size-2-3);
}

section.cols-2-37 .ldiv {
    grid-area: leftpanel;
    margin-top: -2%;
}

section.cols-2-37 .rdiv {
    grid-area: rightpanel;
    margin-top: -2%;
}

section.cols-2-37 .limg {
    grid-area: leftpanel;
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-2-37 .rimg {
    grid-area: rightpanel;
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-2-46 {
    overflow: visible;
    display: grid;
    gap: 1rem;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "slideheading slideheading"
        "leftpanel    rightpanel";
}

section.cols-2-46 h2,
section.cols-2-46 h3 {
    grid-area: slideheading;
    font-size: var(--font-size-2-3);
}

section.cols-2-46 .ldiv {
    grid-area: leftpanel;
    margin-top: -2%;

}

section.cols-2-46 .rdiv {
    grid-area: rightpanel;
    margin-top: -2%;
}

section.cols-2-46 .limg {
    grid-area: leftpanel;
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cols-2-46 .rimg {
    grid-area: rightpanel;
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------- */
/* 引用块 */
section.bq-blue blockquote,
section.bq-red blockquote,
section.bq-green blockquote,
section.bq-purple blockquote,
section.bq-black blockquote {
    padding: 1%;
    letter-spacing: 0px;
    border-left: none;
    background-color: white;
}

section.bq-purple blockquote p>strong {
    color: var(--color-main);
    font-size: 0.9rem;
}


section.bq-blue blockquote>p::before,
section.bq-red blockquote>p::before,
section.bq-green blockquote>p::before,
section.bq-purple blockquote>p::before,
section.bq-black blockquote>p::before {
    padding-right: 0px;
    content: "";
    color: white;
}

section.bq-blue blockquote>p:nth-child(1),
section.bq-red blockquote>p:nth-child(1),
section.bq-green blockquote>p:nth-child(1),
section.bq-purple blockquote>p:nth-child(1),
section.bq-black blockquote>p:nth-child(1) {
    margin-bottom: -1px;
    line-height: 2rem;
    padding: 0.5% 0.5% 0.5% 1.5%;
    color: white;
    font-size: 1.03rem;
}

section.bq-blue blockquote>p:not(:nth-child(1)),
section.bq-red blockquote>p:not(:nth-child(1)),
section.bq-green blockquote>p:not(:nth-child(1)),
section.bq-purple blockquote>p:not(:nth-child(1)),
section.bq-black blockquote>p:not(:nth-child(1)) {
    padding: 1% 2%;
    background-color: rgb(228, 234, 246);
}


section.bq-blue blockquote>p:nth-child(1) {
    background-color: rgb(129, 161, 193);
}

section.bq-red blockquote>p:nth-child(1) {
    background-color: rgb(191, 97, 106);
}

section.bq-green blockquote>p:nth-child(1) {
    background-color: rgb(172, 206, 141);
}

section.bq-purple blockquote>p:nth-child(1) {
    background-color: rgb(180, 142, 173);
}

section.bq-black blockquote>p:nth-child(1) {
    background-color: rgb(67, 76, 94);
}

section.bq-blue blockquote>p:nth-child(1)::before {
    content: "\f518";
    padding-right: 2%;
    font-family: "FontAwesome";
}

section.bq-red blockquote>p:nth-child(1)::before {
    content: "\f0eb";
    padding-right: 2%;
    font-family: "FontAwesome";
}

section.bq-green blockquote>p:nth-child(1)::before {
    content: "\e0bb";
    padding-right: 2%;
    font-family: "FontAwesome";
}

section.bq-purple blockquote>p:nth-child(1)::before {
    content: "\f7e4";
    padding-right: 2%;
    font-family: "FontAwesome";
}

section.bq-black blockquote>p:nth-child(1)::before {
    content: "\f5ad";
    padding-right: 2%;
    font-family: "FontAwesome";
}

/* 最后一页 */
section.lastpage {
    background: linear-gradient(to bottom, white 20%, var(--color-coverbg) 20% 60%, white 55%);
    padding: 0;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: auto;
    grid-template-areas:
        "heading"
        "icons";
}

section.lastpage h6 {
    height: 80px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    font-family: var(--font-family-title);
    font-size: var(--font-size-1);
    color: var(--color-title);

    display: grid;
    padding: 0;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
}

section.lastpage h6 {
    grid-area: heading;
}

section.lastpage .icons {
    grid-area: icons;
}

section.lastpage div>ul {
    font-family: var(--font-family-main);
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr;
    gap: 5em;
    align-content: center;
    list-style: none;

}

section.lastpage ul>li>ul>li {
    margin-left: -100px;
}

section.lastpage div>ul>li>ul>li {
    list-style: none;
}

.fa-envelope,
.fa-weixin,
.fa-phone-volume,
.fa-house {
    border: 2px solid;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
}

section.lastpage a {
    font-size: var(--font-size-main);
}

section.lastpage a::after,
section.lastpage::after {
    position: relative;
    content: "";
    border: none;
    color: white;
}

section.navbar header {
    background-color: var(--color-navbar-bg);
    width: 100%;
    height: 5%;
    padding: 6px 0px 3px 0px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    color: var(--color-navbar-font);
    white-space: pre;
}

section.navbar header>em,
section.navbar header>strong,
section.navbar header>em>strong {
    font-style: normal;
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--color-navbar-font);
}

section.navbar header>strong {
    border: 1px solid white;
    border-radius: 12px;
    padding: 0px 15px 5px 15px;
    background-color: white;
}

section.navbar header::before,
section.navbar header::after {
    content: "";
}

section.navbar header>em>strong {
    display: block;
    width: 400px;
    text-align: left;
    margin-left: -20px;
}

section.trans {
    background-color: var(--color-trans);
}

section.trans h2 {
    text-align: center;
    color: var(--color-title);
    font-size: 2rem;
}

section.caption .caption {
    padding-top: 20px;
    text-align: center;
    font-size: smaller;
    color: var(--color-footer);
}

table {
    border-collapse: collapse;
    text-align: center;
    word-break: initial;
    font-size: 0.8rem;
    margin: 0 auto;
}

table code {
    font-size: 0.7rem;
}

th,
thead {
    height: 40px;
    border-top: 3px solid var(--color-main);
    font-size: 105%;
    padding: 6px;
}

th,
thead:first-child {
    border-bottom: 3px solid var(--color-main);
}

table tr:nth-child(2n) {
    background-color: white;
}

tbody:last-child {
    border-bottom: 3px solid var(--color-main)
}

table>thead>tr>th,
table>thead>tr>td,
table>tbody>tr>th,
table>tbody>tr>td,
table>tfoot>tr>th,
table>tfoot>tr>td {
    border: 0px solid white;
}


.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    font-size: small;
}

.hljs-comment {
    color: #28a828;
}

.hljs-string {
    color: #fd8f3f;
}

.hljs-number {
    color: rgb(158, 158, 62);
}

.hljs-keyword {
    color: #1111e2;
}

.hljs-symbol {
    color: #ac1212;
}

.hljs-variable {
    color: #fc5fa3;
}

.hljs-built_in {
    color: #960ab9;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-meta {
    color: #2c2cff;
}

.hljs-literal {
    color: #2c2cff;
}

.hljs-name {
    color: #2c2cff;
}

.in-prompt {
    color: #99bb88;
}

.in-prompt-number {
    font-weight: bold;
}

.out-prompt {
    color: #ff9090;
}

.out-prompt-number {
    font-weight: bold;
}

.inverted {
    background-color: white;
    color: #232629;
}